@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --gray1: #000; /* Black */
  --gray2: #1a1a1a; /* Dark gray */
  --gray3: #979797; /* Medium dark gray */
  --gray4: #cecece; /* Medium gray */
  --gray5: #dbdbdb; /* Light gray */
  --gray6: #f2f2f2; /* Lighter gray */
}

body {
  background-color: #FFF;
  direction: rtl;
  margin: 0;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.definition {
  display: block;
  background: rgba(153, 153, 153, 0.1); /* Light gray background */
  text-align: right;
  border-right: 1.5mm solid var(--gray2); /* Medium dark gray */
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  color: var(--gray1); /* Black text */
  padding: 10pt;
  page-break-inside: avoid;
  font-family: "Open Sans", serif;
  font-weight: 400;
}
/* 
h1 {
  color: var(--gray1); 
} */

.definition::before {
  font-weight: bold;
  color: var(--gray2); /* Medium dark gray */
  content: "הגדרה";
}

.definition::first-line {
  color: var(--gray2);
}

.proposition {
  background-color: rgba(102, 102, 102, 0.05); /* Light gray background */
  border-radius: 5pt;
  border: 2pt solid var(--gray2); /* Dark gray border */
  padding: 10pt;
  page-break-inside: avoid;
  font-family: "Open Sans", serif;
  font-weight: 400;
}

.proposition::before {
  font-weight: bold;
  color: var(--gray2); /* Dark gray */
  content: "טענה";
}

.proposition::first-line {
  color: var(--gray2);
}

.proof {
  padding: 10pt;
  font-family: "Open Sans", serif;
}

.proof::before {
  font-weight: bold;
  color: var(--gray1); /* Black for strong emphasis */
  content: "הוכחה";
}

.proof::after {
  content: "■";
}

.example {
  padding: 10pt;
  background-color: rgba(153, 153, 153, 0.2); /* Medium gray background */
  border: 2pt solid rgba(153, 153, 153, 0.1); /* Lighter gray border */
  page-break-inside: avoid;
  font-family: "Open Sans", serif;
}

.example::before {
  font-weight: bold;
  color: var(--gray1); /* Black */
  content: "דוגמא";
}

.remark::before {
  font-weight: bold;
  color: var(--gray2); /* Dark gray */
  content: "הערה";
}

.remark {
  padding: 10pt;
  background-color: rgba(204, 204, 204, 0.11); /* Light gray background */
  border: 0;
  page-break-inside: avoid;
  font-family: "Open Sans", serif;

}

.theorem {
  background-color: rgba(153, 153, 153, 0.05); /* Light gray background */
  border-radius: 5pt;
  border: 2pt solid var(--gray2); /* Medium dark gray border */
  padding: 10pt;
  page-break-inside: avoid;
  font-family: "Open Sans", serif;
}

.theorem::before {
  font-weight: bold;
  color: var(--gray2); /* Medium dark gray */
  content: "משפט";
}

.theorem::first-line {
  color: var(--gray2);
}

.reminder {
  background-color: var(--reminder-bg);
  border-radius: 5pt;
  border: 2pt solid var(--reminder-text);
  padding: 10pt;
  font-family: "Open Sans", serif;
  page-break-inside: avoid;
}

.reminder::before {
  font-weight: bold;
  color: var(--reminder-text);
  content: "תזכורת";
}

.reminder::first-line {
  color: var(--reminder-text);
}

/* Corollary Block */
.corollary {
  background-color: var(--gray4);
  border-radius: 5pt;
  border: 2pt solid var(--gray2);
  padding: 10pt;
  font-family: "Open Sans", serif;
  page-break-inside: avoid;
}

.corollary::before {
  font-weight: bold;
  color: var(--gray2);
  content: "מסקנה";
}

.corollary::first-line {
  color: var(--gray2);
}

div {
  margin: 6pt 0;
  font-family: "Open Sans", serif;
}

svg {
  display: block;
  margin: auto;
}

table {
  width: 100%;
  text-align: center;
  page-break-inside: avoid;
}

tr:nth-child(even) {
  background-color: var(--gray6); /* Light gray */
}

.summary {
  position: relative;
  border: 2px solid var(--gray1);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--gray4);
  margin-top: 15px;
  color: var(--gray1);
  margin-bottom: 0;
  padding-bottom: 0;
  page-break-inside: avoid;
}

.summary:before {
  content: 'סיכום';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray5);
  color: var(--gray1);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.summary li{
  padding: 10px 0;
}

.reminder {
  background-color: var(--gray5);
  border-radius: 5pt;
  border: 2pt solid var(--gray2);
  padding: 10pt;
}

.reminder::before {
  font-weight: bold;
  color: var(--gray1);
  content: "תזכורת";
}

.reminder::first-line {
  color: var(--gray1);
}

table {
  width: 100%;
  background: var(--gray5);
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  text-align: center;
}

table td, table th {
  border: 1px solid var(--gray5);
}

th {
  border-bottom: 1px solid #364043;
  color: var(--gray1);
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: var(--gray3);
}

td {
  color: var(--gray1);
  font-weight: 400;
  padding: 0.65em 1em;
}

table tbody tr:nth-child(odd) {
  background-color: var(--gray4);
}

@page {
  @bottom-center {
    content: counter(page); 
    display: block;
  }
}

@page :blank {
  @bottom-center { content: none; }
}

@page no-chapter {
  @bottom-center { content: none; }
}

@page :first {
  margin: 0;
  @bottom-center {
    content: none;
  }
}

@page chapter {
  margin: 0;
  @bottom-center { content: none; }
}

#cover {
  display: none;
}

h1 {
  page-break-before: always;
}

#toc_title{
  align-content: center;
  text-align: center;
}

#toc, #toc ul {
  list-style-type: none;
}

#toc ul {
  margin-right: 10pt;
  padding-left: 10pt;
}

#toc a{
  text-decoration: none;
  color: black;
}

.page-marker {
  position: absolute;
  break-after: page;
  z-index: -1;
}

#toc a::after {
  content: leader(".") target-counter(attr(href), page);
}

ol,ul {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: hebrew;
  text-indent: 0;
}
div{
  text-indent: 0;
}

ul li p, ol li p {
  display: inline;
  text-indent: 0;
}
ol li::marker{
  unicode-bidi: isolate-override;
  /* content: ". "counter(list-counter); */
}

div .keyword::before{
  content: '(';
}

div .keyword::after{
  content: ')';
}
.page-number {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: gray;
}
.toc-entry {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.toc-title {
  white-space: nowrap;
  overflow: hidden;
}
.toc-dots {
  flex-grow: 1;
  border-bottom: 1px dotted black;
  margin: 0 0.5em;
}
.toc-page {
  white-space: nowrap;
}