[data-theme="light"] {
  /* Light Mode Colors */
  --c1: #EEB902;
  --c2: #F45D01;
  --symbolize-text: #8377D1;
  --c4: #7FBC69;
  --c5: #005C7A;
  --remark-text: #7EBCED;
  --definition-text: #2E8A3D;
  --proposition-text: #E1403D;
  --theorem-text: #F39237;
  --iyellow: #F9C762;
  --idark: #1A535C;
  --definition-bg: rgba(249, 199, 98, 0.1);
  --definition-hover-bg: rgba(249, 199, 98, 0.2);
  --proposition-bg: rgba(225, 64, 61, 0.05);
  --proposition-hover-bg: rgba(225, 64, 61, 0.1);
  --proof-hover-bg: rgba(200, 200, 200, 0.1);
  --example-bg: rgba(26, 83, 92, 0.2);
  --example-hover-bg: rgba(26, 83, 92, 0.22);
  --remark-bg: rgba(126, 188, 230, 0.11);
  --remark-hover-bg: rgba(126, 188, 230, 0.17);
  --theorem-bg: rgba(228, 147, 82, 0.05);
  --theorem-hover-bg: rgba(228, 147, 82, 0.1);
  --symbolize-bg: rgba(131, 119, 209, 0.05);
  --symbolize-hover-bg: rgba(131, 119, 209, 0.1);  
  --corollary-bg: rgba(255, 195, 0, 0.05); /* Light yellow for corollary */
  --corollary-hover-bg: rgba(255, 195, 0, 0.1);
  --corollary-text: #FFC300;
  --reminder-bg: rgba(255, 165, 0, 0.05); /* Light orange for reminder */
  --reminder-hover-bg: rgba(255, 165, 0, 0.1);
  --reminder-text: #FFA500;

  --lemma-bg: rgba(75, 192, 192, 0.05); /* Soft teal for lemma */
  --lemma-hover-bg: rgba(75, 192, 192, 0.1);
  --lemma-text: #4BC0C0;
  --math-hover-bg: #2b18000e;
  --table-hover: coral;
  --table-even-bg: #f2f2f2;
  --svg-hover-bg: beige;
  /* --svg-path-color: #111; */

  --table-background: #f5f5f5; /* Light grey for table background */
  --table-border-color: #cccccc; /* Light border color */
  --table-header-bg: #e1e1e1; /* Light background for table header */
  --table-header-text: #2c3e50; /* Darker text for headers */
  --table-row-bg-odd: #ffffff; /* White for odd rows */
  --table-row-bg-hover: #d1e7f3; /* Light blue for hover effect */
  --table-row-text: #2c3e50; /* Dark text for rows */
  --table-disabled-text: #b0b0b0; /* Disabled row text color */

  /* Define light mode colors as CSS variables */
  --summary-bg-color: #f9f9f9;
  --summary-label-bg: #4a90e2;
  --summary-background-color: #4a90e255;
  --summary-border-color: #e0e0e0;
  --summary-label-color: white;
  --summary-text-color: #333;
}

[data-theme="dark"] {
    /* Dark Mode Colors */
    --c1: #b8860b;
    --c2: #d35400;
    --symbolize-text: #6557a5;
    --c4: #5a9c4b;
    --c5: #004458;
    --remark-text: #d0ecff;
    --definition-text: #b0fabb; /* text is for title and border */
    --proposition-text: #ffa4a2;
    --theorem-text: #ffca98;
    --iyellow: #d8be8f;
    --idark: #b1d4db;
    --definition-bg: rgba(249, 199, 98, 0.05);
    --definition-hover-bg: rgba(249, 199, 98, 0.15);
    --proposition-bg: rgba(225, 64, 61, 0.03);
    --proposition-hover-bg: rgba(225, 64, 61, 0.08);
    --proof-hover-bg: rgba(150, 150, 150, 0.1);
    --example-bg: rgba(15, 50, 55, 0.3);
    --example-hover-bg: rgba(15, 50, 55, 0.4);
    --remark-bg: rgba(76, 116, 140, 0.15);
    --remark-hover-bg: rgba(76, 116, 140, 0.2);
    --theorem-bg: rgba(180, 115, 70, 0.1);
    --theorem-hover-bg: rgba(180, 115, 70, 0.2);
    --symbolize-bg: rgba(85, 75, 150, 0.05);
    --symbolize-hover-bg: rgba(85, 75, 150, 0.1);
    --corollary-bg: rgba(255, 195, 0, 0.1);
    --corollary-hover-bg: rgba(255, 195, 0, 0.2);
    --corollary-text: #FFD966;
    --lemma-bg: rgba(75, 192, 192, 0.1);
    --lemma-hover-bg: rgba(75, 192, 192, 0.2);
    --lemma-text: #66E2E2;
    --reminder-bg: rgba(255, 165, 0, 0.1);
    --reminder-hover-bg: rgba(255, 165, 0, 0.2);
    --reminder-text: #FFB347;

    --math-hover-bg: #1b0f000a;
    --table-hover: darkorange;
    --table-even-bg: #222;
    --svg-hover-bg: #b9c3cc17;
  /* --svg-path-color: #EEE; */
  --table-background: #2a4259ba; /* Same as your dark background */
  --table-border-color: #000000; /* Black border */
  --table-header-bg: #012B39; /* Dark background for header */
  --table-header-text: #E2B842; /* Gold for header text */
  --table-row-bg-odd: #253e55; /* Darker blue for odd rows */
  --table-row-bg-hover: #014055; /* Hover color */
  --table-row-text: #ffffff; /* White text for rows */
  --table-disabled-text: #4F5F64; /* Grey text for disabled rows */

  --summary-bg-color: #2c2c2c;
  --summary-border-color: #3a7ca5;
  --summary-label-bg: #3a7ca5;
  --summary-background-color: #3a7ca555;
  --summary-label-color: #f0f0f0;
  --summary-text-color: #ccc;
  svg{
    filter: invert(100%);
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  }
  }
  h2{
  text-align: center;
  opacity: 0.73;
  margin-top: 40pt;
  }
/* Reminder Block */
.reminder {
  background-color: var(--reminder-bg);
  border-radius: 5pt;
  border: 2pt solid var(--reminder-text);
  padding: 10pt;
}

.reminder:hover {
  background-color: var(--reminder-hover-bg);
}

.reminder::before {
  font-weight: bold;
  color: var(--reminder-text);
  content: "תזכורת";
}

.reminder::first-line {
  color: var(--reminder-text);
}

/* Corollary Block */
.corollary {
  background-color: var(--corollary-bg);
  border-radius: 5pt;
  border: 2pt solid var(--corollary-text);
  padding: 10pt;
}

.corollary:hover {
  background-color: var(--corollary-hover-bg);
}

.corollary::before {
  font-weight: bold;
  color: var(--corollary-text);
  content: "מסקנה";
}

.corollary::first-line {
  color: var(--corollary-text);
}

/* Lemma Block */
.lemma {
  background-color: var(--lemma-bg);
  border-radius: 5pt;
  border: 2pt solid var(--lemma-text);
  padding: 10pt;
}

.lemma:hover {
  background-color: var(--lemma-hover-bg);
}

.lemma::before {
  font-weight: bold;
  color: var(--lemma-text);
  content: "למה";
}

.lemma::first-line {
  color: var(--lemma-text);
}

/* Your existing styles */
.definition {
  display: block;
  background: var(--definition-bg);
  text-align: right;
  border-right: 1.5mm;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: var(--definition-text);
  padding: 10pt;
}

.definition:hover {
  background: var(--definition-hover-bg);
}

h1 {
  color: var(--remark-text);
}

.definition::before {
  font-weight: bold;
  color: var(--definition-text);
  content: "הגדרה";
}

.definition::first-line {
  color: var(--definition-text);
}

.proposition {
  background-color: var(--proposition-bg);
  border-radius: 5pt;
  border: 2pt solid var(--proposition-text);
  padding: 10pt;
}

.proposition:hover {
  background-color: var(--proposition-hover-bg);
}

.proposition::before {
  font-weight: bold;
  color: var(--proposition-text);
  content: "טענה";
}

.proposition::first-line {
  color: var(--proposition-text);
}

.proof {
  padding: 10pt;
}

.proof:hover {
  background-color: var(--proof-hover-bg);
}

.proof::before {
  font-weight: bold;
  color: var(--idark);
  content: "הוכחה";
}

.proof::after {
  content: "■";
}

.example {
  padding: 10pt;
  background-color: var(--example-bg);
  border: 2pt solid var(--example-bg);
}

.example::before {
  font-weight: bold;
  color: var(--idark);
  content: "דוגמא";
}

.example:hover {
  background-color: var(--example-hover-bg);
  border: 2pt solid var(--example-hover-bg);
}

.remark::before {
  font-weight: bold;
  color: var(--remark-text);
  content: "הערה";
}

.remark {
  padding: 10pt;
  background-color: var(--remark-bg);
  border: 0;
}

.remark:hover {
  background-color: var(--remark-hover-bg);
  border: 0;
}
/* .summary::before {
  font-weight: bold;
  color: var(--summary-text);
  content: "סיכום";
  padding: 0 50pt;
  display: block;
  background-color: #454545;
}

.summary {
  padding: 10pt;
  border: var(--summary-bg) 4pt double;
  border-radius: 10pt;
}

.summart:hover {
  background-color: var(--summary-hover-bg);
  border: 0; 
}*/
.summary {
  position: relative;
  border: 2px solid var(--summary-label-bg);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--summary-background-color);
  margin-top: 15px;
  color: var(--summary-text-color);
  margin-bottom: 0;
  padding-bottom: 0;
}

.summary:before {
  content: 'סיכום';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--summary-label-bg);
  color: var(--summary-label-color);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.summary li{
  padding: 10px 0;
}
.summary li:hover{
  background-color: var(--svg-hover-bg);
}

.theorem {
  background-color: var(--theorem-bg);
  border-radius: 5pt;
  border: 2pt solid var(--theorem-text);
  padding: 10pt;
}

.theorem:hover {
  background-color: var(--theorem-hover-bg);
}
.theorem::first-line {
  color: var(--theorem-text);
}

.theorem::before {
  font-weight: bold;
  color: var(--theorem-text);
  content: "משפט";
}

.symbolize {
  background-color: var(--symbolize-bg);
  border-radius: 8pt;
  border: 2pt solid var(--symbolize-text);
  padding: 10pt;
}

.symbolize:hover {
  background-color: var(--symbolize-hover-bg);
}

.symbolize::before {
  font-weight: bold;
  color: var(--symbolize-text);
  content: "סימון";
}

div {
  margin: 6pt 0;
}

.MathJax_Display {
  transition: 0.3s;
}

.MJX-TEX:hover {
  background-color: var(--math-hover-bg);
  border-radius: 5pt;
}

svg {
  display: block;
  margin: auto;
  width: 42%;
}

svg:hover {
  background-color: var(--svg-hover-bg);
}

table {
  width: 100%;
  background: var(--table-background);
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  text-align: center;
}

table td, table th {
  border: 1px solid var(--table-border-color);
}

th {
  border-bottom: 1px solid #364043;
  color: var(--table-header-text);
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: var(--table-header-bg);
}

td {
  color: var(--table-row-text);
  font-weight: 400;
  padding: 0.65em 1em;
}

table tbody tr:nth-child(odd) {
  background-color: var(--table-row-bg-odd);
}

tbody tr {
  transition: background 0.25s ease;
}

tr:hover {
  background: var(--table-row-bg-hover) !important;
}

.disabled td {
  color: var(--table-disabled-text);
}

div .keyword::before{
  content: '(';
}

div .keyword::after{
  content: ')';
}
.paragraph-transition {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, margin 0.3s ease-out;
  overflow: hidden;
}

.paragraph-hidden {
  max-height: 0 !important;
  opacity: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
  /* Allow the flex items to wrap */
ul.top-navigation {
  flex-wrap: wrap;
}

/* Make sure all items still share equal width */
ul.top-navigation li {
  flex: 1 1 100%; /* Full width by default */
  text-align: center; /* Center text */
}

/* Move the middle item (parent-page) to a new row above */
ul.top-navigation li.parent-page {
  flex-basis: 100%; /* Full width row */
  order: -1; /* Moves it to the first row */
  border-bottom: 0.2pt solid #283A4B;
}

/* Keep the left and right items on the same row */
ul.top-navigation li.prev-page,
ul.top-navigation li.next-page {
  flex-basis: 50%; /* Each takes half the width */
  order: 0; /* Normal order */
}

/*
ul.top-navigation li.next-page a{
  border-left: 0.05pt solid #283A4B;
}
ul.top-navigation li.prev-page a{
  border-right: 0.05pt solid #283A4B;
}
*/
mjx-container[jax="CHTML"][display="true"]{
  overflow-x: auto;
  overflow-y: hidden;
}
}
