:root {
  --c1: #EEB902;
  --c2: #F45D01;
  --c3: #8377D1;
  --c4: #7FBC69;
  --c5: #005C7A;
  --iblue: #7EBCED;
  --igreen: #2E8A3D;
  --ired: #E1403D;
  --iorange: #F39237;
  --iyellow: #F9C762;
  --idark: #1A535C;
}



.definition{
  display: block;
  background: rgba(249, 199, 98, .1);
  text-align: right;
  border-right: 1.5mm;
  border-top: 0;
  border-bottom: 0;
  border-left:0;
  border-style: solid;
  border-color: var(--igreen);
  color: black;
  padding: 10pt;
}
.definition:hover{
  background: rgba(249, 199, 98, .2);
}
h1{
color: iblue;
}

.definition::before {
  font-weight: bold;
  color: var(--igreen);
  content: "הגדרה";
}
.definition::first-line {
  color: var(--igreen);
}
.proposition{
background-color:rgba(225, 64, 61, 0.05);
border-radius: 5pt;
border: 2pt var(--ired);
  border-style: solid;
  padding: 10pt;
}
.proposition:hover{
background-color:rgba(225, 64, 61, 0.1);
}
.proposition::before {
  font-weight: bold;
  color: var(--ired);
  content: "טענה";
}
.proposition::first-line {
  color: var(--ired);
}
.proof{
  padding: 10pt;
}
.proof:hover{
background-color: rgba(200,200,200,0.1)
}
.proof::before {
  font-weight: bold;
  color: var(--idark);
  content: "הוכחה";
}
.proof::after{
content: "■";
}
.example{
  padding: 10pt;
  background-color: rgba(26, 83, 92, 0.2);
  border: 2pt rgba(26, 83, 92, 0.1) solid;
}
.example::before {
  font-weight: bold;
  color: var(--idark);
  content: "דוגמא";
}
.example:hover{
  padding: 10pt;
  background-color: rgba(26, 83, 92, 0.22);
  border: 2pt rgba(26, 83, 92, 0.2) solid;
}
.remark::before {
  font-weight: bold;
  color: var(--iblue);
  content: "הערה";
}
.remark{
  padding: 10pt;
  background-color: rgba(126, 188, 230, 0.11);
  border: 0;
}
.remark:hover{
  padding: 10pt;
  background-color: rgba(126, 188, 230, 0.17);
  border: 0;
}
.theorem{
background-color:rgba(228, 147, 82, 0.05);
border-radius: 5pt;
border: 2pt var(--iorange);
  border-style: solid;
  padding: 10pt;
}
.theorem:hover{
background-color:rgba(228, 147, 82, 0.1);;
}
.theorem::before {
  font-weight: bold;
  color: var(--iorange);
  content: "משפט";
}
.theorem::first-line {
  color: var(--iorange);
}
.symbolize{
background-color:rgba(131, 119, 209, 0.05);
border-radius: 8pt;
border: 2pt rgb(131, 119, 209);
  border-style: solid;
  padding: 10pt;
}
.symbolize:hover{
background-color:rgba(131, 119, 209, 0.1);;
}
.symbolize::before {
  font-weight: bold;
  color: rgb(131, 119, 209);
  content: "סימון";
}
.symbolize::first-line {
  color: rgb(131, 119, 209);
}
div{
margin: 6pt 0;
}
.MathJax_Display{
/*margin-top: 2pt!important;*/
transition: 0.3s;
}
.MathJax_Display:hover span.math{
  background-color: #2b18000e;
  border-radius: 5pt;
}
svg{
  display: block;
  margin: auto;
}

svg:hover{
  background-color: beige;
}

table{
  width:100%;
  text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;} 
tr:hover {background-color: coral;} 