[data-theme="light"]{ 
    /* Light Mode Colors */
    --heading-color: #333;
    --border-color: #ccc;
    --link-color: #007acc;
    --top-level-hover-bg: #d0e8ff;
    --top-level-hover-border: rgba(208, 232, 255, 0.33);
    --second-level-hover-bg: #e6f2ff;
    --bottom-level-hover-bg: #f0f8ff;
    --hover-text-color: #003d66;
    --bottom-level-text-color: #666;
  }
  
  [data-theme="dark"] {
      /* Dark Mode Colors */
      --heading-color: #ddd;
      --border-color: #c4c4c4;
      --link-color: #cae3f8;
      --top-level-hover-bg: #4a657a;
      --top-level-hover-border: rgba(74, 101, 122, 0.6);
      --second-level-hover-bg: #3e5365;
      --bottom-level-hover-bg: #35495e;
      --hover-text-color: #e0f1ff;
      --bottom-level-text-color: #999;
    }
  
  
  /* Heading styling */
  h1 {
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-size: 2.2em;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
  }
  
  /* Styling the unordered lists */
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  
  /* Styling the top-level list items */
  ul > li {
    /*margin-bottom: 5px;*/
    font-size: 1.2em;
    padding: 10px 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Styling nested lists */
  ul ul {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  /* Second-level list items */
  ul ul > li {
    margin-bottom: 5px;
    font-size: 1.1em;
    padding: 8px 0;
    padding-left: 10px;
    font-weight: normal;
  }
  
  /* Deepest nested list items */
  ul ul ul > li {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 4px;
    color: var(--bottom-level-text-color);
    padding-left: 15px;
    border-left: 1px dashed var(--border-color);
  }
  
  /* Styling the links */
  a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
    display: block;
    padding: 1px;
  }
  
  /* Hover effect for top-level list items */
  ul > li:hover {
    background-color: var(--top-level-hover-bg);
    /*border: 2px solid var(--top-level-hover-border);*/
  }
  
  /* Hover effect for second-level list items */
  ul ul > li:hover {
    background-color: var(--second-level-hover-bg);
  }
  
  /* Hover effect for bottom-level list items */
  ul ul ul > li:hover {
    background-color: var(--bottom-level-hover-bg);
    color: var(--hover-text-color);
  }
  
  /* When hovering over the li, the link should change color */
  ul li:hover a {
    color: var(--hover-text-color);
  }
  
  .download-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
}

.download-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
    stroke: black;
}
/* 
[data-theme="dark"] .download-icon {
    stroke: white;
} */

.download-icon:hover {
    transform: scale(1.1);
}


.download-dropdown {
    display: none;
    position: absolute;
    top: 13pt;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 10;
    direction: ltr;
}

[data-theme="dark"] .download-dropdown {
    background-color: #333;
    border-color: #555;
}

[data-theme="dark"] .download-dropdown a {
    color: white;
}

.download-container:hover .download-dropdown,
.download-dropdown:hover {
    display: block;
}

.download-dropdown a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.download-dropdown a:hover {
    background-color: #f0f0f0;
}

[data-theme="dark"] .download-dropdown a:hover {
    background-color: #444;

}
[data-theme="dark"]{
  svg{
    filter: invert(100%);
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  }
}
div.content{
  position:relative;
}